html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
#root {
  min-height: 100%;
  min-width: 100%;
}
.bar {
  background-color:rgb(166, 23, 255);
  display: flex;
  justify-content: space-between;
  height: 5vh;
}
.main-content {
  display: flex;
  height: 90vh;
  
}
.left-bar {
  width: 10%;
  height: 100%;
  background-color: gray;
}
.right-bar {
  background-color: rgb(234, 233, 255);
  width: 90%;
  display: flex;
}
.profile {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}
.video-list {
  width: 50%;
}
.social-button {
  border: 2px solid black;
  background-color: green;
}
.empty-list-item {
  height: 50px;
  border-bottom: 1px solid rgb(181, 181, 181);
  display: flex;
  
}
.list-num {
  align-self: flex-start;
}
.empty {
  font-size: larger;
  align-self: center;
  color: gray;
  padding-left: 20px;
  
}