



.video-list {
  width: 50%;
}
.social-list {
  height: 100%;
}
.social-button {
  height: 10%;
  width: 100%;
}
.list-item {

  border-bottom: 1px solid rgb(181, 181, 181);
}
.num-title {
  display: flex;
}
.list-num {
  align-self: flex-start;
}
.item-container {
  align-self: center;
  padding-left: 20px;
}
.video {
}
.fa-user-circle {
}
.login-form {
  width: 100%;
  justify-content: center;
  align-items: center;
}

