


.profile {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}
.video-list {
  width: 50%;
}
.social-list {
  height: 100%;
}
.social-button {
  height: 10%;
  width: 100%;
}
.list-item {

  border-bottom: 1px solid rgb(181, 181, 181);
}
.num-title {
  display: flex;
}
.list-num {
  align-self: flex-start;
}
.item-container {
  align-self: center;
  padding-left: 20px;
}
.video {
}
.fa-user-circle {
}
.login-form {
  width: 100%;
  justify-content: center;
  align-items: center;
}
.profile-list {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.profile-pic {
  background-color: green;
}