@import 'mixins';
$background-color: light-blue;
$default-margin: 1vw;
html, body, #root {
    @include fill-flex;
}
a {
    text-decoration: none;
    color:black;
    margin: $default-margin;
}
.bar {
   box-sizing: border-box;
    width: 100%;
    display: flex;
    height: 5vh;
    font-size: 1.4em;
    background-color: rgb(175, 104, 247);
    
}
.top-bar {
    box-sizing: border-box;
    .logo {
        width: 50%;
        
      }
    .view-links {
        display: flex;
        width: 50%;
        justify-content: flex-end;
    }
}
.main-content {
    
    width: 100%;
    display: flex;
    height: 90vh;
    
    
    .left-bar {
        box-sizing: border-box;
        width: 10%;
        min-width: 65px;
        height: 100%;
        background-color:$background-color;
        
        
      }
      .right-bar {
        
        width: 90%;
        display: flex;
        overflow-y:scroll;
        .right-left-special {
            background-color: lightblue;
            width: 50%;
            min-height: 90vh;
            // overflow-y: scroll;
            
            display: flex;
            .dragging-list {
                width: 95%;
            }
        }
        .right-left {
            background-color: lightblue;
            width: 50%;
            min-height: 90vh;
            overflow-y: scroll;
           
            
            .profile-list {
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                width: 100%;
                height: 100%;
                background-color: $background-color;
                flex-direction: row;
                flex-wrap: wrap;
                .profile {
                    box-sizing: content-box;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    border-radius: $default-margin;

                    
                    
                    margin: $default-margin;
                    width: 15vh;
                   
                }
            }
        }
        .right-right {
            background-color: rgb(205, 205, 205);
            width: 50%;
            
        }
      }
  }
  .login-form {
      width: 100%;
      
      .form {
          display: flex;
          flex-direction: column;
          width: 100%;
          align-items: center;
         
      }
      .outlined-basic {
          margin-top: 10%;
      }
      
}
.uni-list {
    @include fill-flex;
}
.list-item {
    @include fill-flex;
}
.title-edit-wrap {
    display:flex;
    width: 100%;
    box-sizing: border-box;

}
.item-title {
    width: 90%;
    margin: $default-margin;
}
.list-num {
    width: 10%;
    margin: $default-margin;
}
.edit {
    align-self: center;
    justify-self: flex-end;
    font-size: small;
}
.empty-title {
    height: 80px;
    justify-self: center;
    padding-left: 9.8%;
    color: gray;
   
}
.drag-item {
    border: 1px solid black;
    border-radius: 5px;
    height: 9%;
}
.down-list {
    height: 100%;
    width: 5%;
    .down-number {
        height: 9%;
    }
}
.heading {
    margin: $default-margin;
    font-size: 1.3em;
}
.svg-inline--fa {
    color: rgb(114, 114, 114);
    margin: $default-margin;
    font-size: 3.5em;
}
.edit {
    font-size: .9em;
    margin: $default-margin;
}
.profile-name {
    margin: $default-margin;
}
.profile {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    background-color: rgb(230, 230, 238);

    
    
    margin: $default-margin;
    width: 15vh;
   
}
.social-list {
    background-color: rgb(206, 206, 206);
}
