@import 'mixins';
html, body, #root {
    @include fill-flex;
}
a {
    text-decoration: none;
    color:black;
}
.bar {
   box-sizing: border-box;
    width: 100%;
    display: flex;
    height: 5vh;
    font-size: 1.4em;
    background-color: rgb(175, 104, 247);
}
.top-bar {
    box-sizing: border-box;
    .logo {
        width: 50%;
      }
    .view-links {
        display: flex;
        width: 50%;
        justify-content: flex-end;
    }
}
.main-content {
    
    width: 100%;
    display: flex;
    height: 90vh;
    
    
    .left-bar {
        box-sizing: border-box;
        width: 10%;
        min-width: 65px;
        height: 100%;
        background-color: gray;
        
      }
      .right-bar {
        
        width: 90%;
        display: flex;
        overflow-y:scroll;
        .right-left-special {
            background-color: lightblue;
            width: 50%;
            min-height: 90vh;
            height: fit-content;
            display: flex;
            .dragging-list {
                width: 95%;
            }
        }
        .right-left {
            background-color: lightblue;
            width: 50%;
            min-height: 90vh;
            height: fit-content;
            overflow-y: scroll;
           
            
            .profile-list {
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                width: 100%;
                height: 100%;
                background-color: red;
                flex-direction: row;
                flex-wrap: wrap;
                .profile {
                    box-sizing: content-box;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    background-color: purple;
                    width: 50%;
                    margin: 50px;
                   
                }
            }
        }
        .right-right {
            background-color: lightgreen;
            width: 50%;
            
        }
      }
  }
  .login-form {
      width: 100%;
      
      .form {
          display: flex;
          flex-direction: column;
          width: 100%;
          align-items: center;
      }
      .outlined-basic {
          margin-top: 10%;
      }
      
}
.uni-list {
    @include fill-flex;
}
.list-item {
    @include fill-flex;
}
.title-edit-wrap {
    display:flex;
    width: 100%;
    box-sizing: border-box;

}
.item-title {
    width: 90%;
}
.list-num {
    width: 10%;
}
.edit {
    align-self: center;
    justify-self: flex-end;
    font-size: small;
}
.empty-title {
    height: 80px;
    justify-self: center;
    padding-left: 9.8%;
    color: gray;
   
}
.drag-item {
    background-color: green;
}
.down-list {
    
    width: 5%;
}